* {
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;

}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: white;
    width: 100vw;

}

nav {
    background-color: white;
    border-bottom: 1px solid black;

    width: 100vw;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;

    position: fixed;
    top: 0;
    z-index: 10;
}

.nav-item {
    width: 100px;
}

#burger {
    background-color: #eee;
    margin-right: auto;
    width: 32px;
    height: 32px;
    transition: 0.3s;
    display: grid;
    grid-template-rows: repeat(3, 4px);
    align-content: space-around;
    margin-left: .5rem;
   
}

#burger div {
    background-color: #333;
}

#menu {
    transition: 0.7s ease-in;
    position: absolute;
    right: 100vw;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background-color: rgba(8, 8, 73, 0.76);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu > a {
    margin-top: 150px;
    font-size: 4rem;
    justify-self: center;
    color: white;
}

.nav-item > img, #shop-bag {
    width: 4rem;
}

span {
  font-size: 2.5rem;
}

.title-container {
    height: 14rem;
    width: 100vw;
    overflow: hidden;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid black;
    background-color: white;
}

/* SHOPPING CART DISPLAY STYLING!!!! ----------------------*/
#shopCart-overlay {
    width: 90vw;
    height: 55rem;
    background-color: lightgrey;
    z-index: 9;
    visibility: hidden;
    position: fixed;
    margin: 6rem;
    border-radius: 1rem;
    gap: 1rem;
    overflow: scroll;
    overflow-x: hidden;
}


#display-label-container {
    font-size: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    height: 7rem;
    border-bottom: 1px solid black;
    overflow: hidden;
    letter-spacing: .5rem;
    position: relative;
}

#display-label-container > h5 {
    margin-bottom: 0;
}

.displayItem-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding: .5rem;
    overflow: hidden;
    position: relative;
    height: 115px;
}

 .name-box {
     grid-column: 1;
     display: flex;
     gap: 5rem;
     font-size: 2rem;
     overflow: hidden;
     
}

.name-box > h5 {
    width: 100px;
    align-self: flex-start;
}

.name-box > img {
    width: 100px;
}

.deleteButton {
    align-self: center;
    background-color: #333;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
} 

.price-box, .qty-box, .totalPrice-box {
    font-size: 2rem;
    align-self: center;
}

.price-box {
    grid: 2;
}

.qty-box {
    grid: 3;
}

 i {
     padding: 0 1.5rem 0 1.5rem;
 }

.totalPrice-box {
  grid: 4;
} 

#display-subTot-container {
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    padding: .5rem 5rem 0 0;
    border-top: 1px solid black;
    width: 100%;
    height: 4rem;
    font-weight: 600;
  
}
/* SHOPPING CART DISPLAY STYLING ENDS---------------------- */


h1, h2 {
    text-align: center;
    margin: 0;
    
}

h1 {
    font-weight: normal;
    font-size: 2.5rem;
    letter-spacing: 1.5rem;
    border-bottom: 1px solid black;
  
}


h2 {
    font-size: 7rem;
    font-weight: normal;
    align-self: center;
    /* position: absolute;
    top: 5rem; */
    margin: auto;
    letter-spacing: 4rem;
}

#main-pic {
    padding-top: 2rem;
    height: 43rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    gap: 5rem;
}

#main-pic > img {
    height: 40rem;
}
 
 #leftskate, #rightskate {
    transition-duration: 1.5s;

} 

#shop-nav-container {
    height: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 15rem;
    justify-content: center;
    align-content: flex-end;
    border-top: 1px solid black;
    padding: .5rem;

}

.shop-nav {
    width: 15rem;
    height: 15rem;
    background-color: grey;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 a {
    text-decoration: none;
    color: white;
}

.shop-nav > p {
    text-align: center;
    font-size: 2.5rem;

}

#skates, #gear {
    margin: 1rem;
    height: 50rem;
    height: auto;
 
}

h3 {
    margin: 1rem 0;
    padding: 2rem;
    height: 10rem;
    background-color: white;
    font-size: 5rem;
    font-weight: normal;
    text-align: center;
    letter-spacing: 2rem;
}

#skate-container, #gear-container {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 475px));
    grid-auto-rows: 300px;
    padding: 30px;
    grid-gap: 10px;
    width: 100%;

}

.skate-box, .gear-box {
    width: 100%;
    height: 30rem;
    background-color: white;
    grid-gap: 5px;
    border: 1px solid black;
    display: flex;
    position: relative;
    overflow: hidden;

}

article > img {
    height: 200px;
    padding: .5rem;
}

.descrip-box {
    width: 40%;
    background-color: white;
    text-align: center;
    /* border: 1px solid black; */
    height: 60%;
    position: absolute;
    left: 27rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: column;
    
}

#gear-descrip-box {
    width: 50%;
    left: 20rem;
}

h4 {
    font-size: 2.5rem;
    padding: 0;
    margin: 1rem;

}

p {
    font-size: 2rem;
    margin: 0;
}

.buy-btn {
    align-self: flex-end;
    padding: 1rem;
    margin: 1rem;
    width: 40rem;
    position: absolute;
    left: 3rem;
}








/* START OF MEDIA QUERIES */

@media only screen and (max-width: 800px) {
    h2 {
        letter-spacing: 2rem;
    }

    #main-pic {
        gap: 0;
        height: 25rem;
    }


    #main-pic > img {
        height: 20rem;
    }
    
    #shop-nav-container {
        gap: 2rem;    
    }

    .shop-nav {
        width: 100vw;
        height: 20rem;
        border-radius: 0%;
    }

    #shopCart-overlay {
        left: -3rem;
        width: 95vw;
        height: 40rem;
        margin-left: 4rem;
    }

    #display-label-container {
        font-size: 15px;
        height: 4rem;
        letter-spacing: 0;
    }

    .displayItem-container {
        width: 100%;
    }

    .name-box {
        gap: 0;
        flex-direction: column;

    }
    .name-box > h5 {
        font-size: 1rem;
        align-self: center;
        margin: .5rem 0;

    }

    .name-box > img {
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    .price-box {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
    }

    .type-box {
        font-size: 1.5rem;
    }

    .qty-box {
        font-size: 1.5rem;
    }

    i {
        padding: 0 .5rem 0 .5rem;
    }
    h3 {
        font-size: 3rem;
        letter-spacing: .5rem;
    }

    article > img {
        width: 125px;
        height: 125px;
        margin: 0 auto;
    }

    #skate-container {
        padding: 0;
    }
    .skate-box {
        flex-direction: column;
        padding: 0;
        overflow: hidden;
    }

    .descrip-box {
        flex-direction: column;
        left: 0rem;
        top: 12rem;
        width: 100%;
    }

    .buy-btn {
        bottom: 0;
        width: 95%;
        left: 0;
        align-self: center;
    }











  }

