* {
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
}

body {
    background-color: whitesmoke;
    margin: 0;
}

main {
    background-color: lightgrey;
    height: 100vh;
    margin-top: 80px;
    position: relative;
    display: flex;
}

#imageContainer {
    margin: 10px;

}
img {
    width: 30rem;
    height: 30rem;
}
